@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-bangla: var(--font-hind-siliguri);
}

body {
  background-color: #ffffff;
  color: #171717;
}

.font-bangla {
  font-family: var(--font-bangla), var(--font-sans), system-ui, sans-serif;
}
